body {
    height: 100vh;
    background-color: #027373;
    text-align: center;
}

h1 {
    font-size: 56px;
}

span {
    font-size: 16px;
}

.input-search {
    margin-top: 200px;
}

input {
    width: 600px;
    height: 48px;
    border-radius: 16px;
    text-indent: 24px;
    font-size: 24px;
}

.try {

    display: flex;
    gap: 8px;
    justify-content: center;
    color: aliceblue;
    margin-top: 8px;
}

.name,
.team {
    width: 160px;
    height: 40px;
    background-color: rgb(58, 46, 46);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nat,
.age,
.kd {
    width: 84px;
    height: 40px;
    background-color: rgb(58, 46, 46);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40%;
}